/* Add styling for the projects-container and adjust layout */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
}

.projects-list {
    flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Add spacing between projects and videos */
}

.video-list {
    flex: 1; /* Take up remaining space */
}

/* Additional styling for the project list */
.project-list {
    list-style-type: none;
}

.project-list li {
    margin-bottom: 10px;
}

/* Styling for the video container */
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    width: 48%; /* Adjust the width as needed to leave some space between videos */
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Add a class for right-aligned video */
.right-aligned-element {
    align-self: flex-end; /* Align the element to the end (right) of the container */
}
